:root{
    --color-Primary:#1e5afa;
    --color-primary-riant:rgba(0, 0, 240, 0.2);
    --color-white:#fff;
    --color-light:hsl(0, 0%, 83%);
    --color-black:#000f37;
    --color-dark:#575757;

    --bottom-section-padding:12rem;
    --bottom-section-padding-mobile:8rem;

    --transition: all 400ms ease;
    
    --container-width-tablet:90%;
    --container-width:84%;
    --container-width-phone:94%;
}
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    line-height: 1.7;
    /* background:black; */
}
.container{
    width: var(--container-width);
    margin:0 auto;
}
h1{
    font-size: 5.6rem;
    line-height: 1;
    color: var(--color-black);
}
h2{
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
}
h3{
    font-size: 2rem;
    font-weight: 600;
}
.lead{
 width: 63%;
 font-size: 1.1rem;
 font-weight: 400;
 line-height: 1.5; 
 margin: 1.5rem auto 3rem;
 
}
a{
    color: var(--color-white);
    font-weight: 300;
}
img{
    width: 100%;
}
.btn{
    display: inline-block;
    padding: 1rem 2.3rem;
    background: var(--color-white);
    color: var(--color-black);
    font-weight: 500;
    border-radius: 0.4rem; 
}
.btn-primary{
    background-color: var(--color-black);
    color: var(--color-white);
    transition: all 300ms ease;
}
.btn-primary:hover{
    background-color: var(--color-white);
    color: var(--color-black);
    border-color: var(--color-black);
    outline:auto;
}
.avatar{
   width: 2.2rem;
   height: 2.2rem;
   border-radius: 50%;
   overflow: hidden;
}
section{
    max-width: 100vw;
    padding-bottom: var(--bottom-section-padding);
}

/* =============== NAVBAR ================ */
nav{
    width: 100vw;
    height: 6rem;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: var(--color-Primary);
}

.window-scroll{
    background:var(--color-Primary);
    border-bottom: 1px solid var(--color-white);
    box-shadow: 0 1rem 1rem var(--color-primary-riant);
}
.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav button{
    display:none;
}
.nav_item{
    display: flex;
    gap: 3rem;
}
.nav__logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nav_signin_signup{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav__logo h3{
    font-size: 1.7rem;
}

/*  ===================== Header ======================   */
header{
    background: url('/img/Youtube(2)/Header-img.jpg')no-repeat top center/100vw;
    max-width: 100vw;
    text-align: center;
    padding-bottom: var(--bottom-section-padding);
 }
 .header_title{
    padding-top: 12rem;
    color: var(--color-white);
 }
 header p{
    color: rgba(255, 255,255 ,0.8);
    margin-bottom: 0;
 }
 .header__image{
    width: 92%;
    margin: 0 auto;
 }
 .cta{
    display: flex;
    justify-content: center;
    gap: 2rem;
 }
 .cta a{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: left;
    font-weight: 400;
    border-radius: 0.7rem;
    background: black;
    padding: 0.8rem 1.6rem;
 }
 .cta a:hover{
    background: var(--color-black);
    color: var(--color-white);
 }
 .cta .logo{
    width: 2rem;
 }
 .logo #img-1{
    margin-left: -20px;
    margin-top: 10px;
    height: 70px;
    width: 70px;
 }
 .logo #img-2{
    margin-left: -10px;
    margin-top: 10px;
    height: 40px;
    width: 40px;
 }
 .cta a h4{
    font-weight: 500;
    font-size: 1.4rem;
 }
 .header__socials{
    /* background:red; */
    position: absolute;
    left: 3rem;
    top: 38%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.2rem;
 }
 .header__decorator-1{
    position: absolute;
    width: 250px;
    height: 250px;
 }
 .header__decorator-2{
    position: absolute;
    right: 0;
    margin-top: -10rem;
 }
 /*  ========================== ABOUT ======================== */
 .about__title{
    text-align: center;
    margin-bottom: 5rem;
 }
 .about__article{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
    margin-top:3rem;
 }
 .about__article-title{
    color: var(--color-black);
    margin-bottom: 1.5rem;
    
 }
 .about__article .btn{
    margin-top: 2.4rem;
 }
 .about__image{
    background-color: #1e5afa;
 }

 /*  ========================== Clients ======================== */

#clients{
    text-align: center;
}
.clients__container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 2rem;
}
.clients__container div{
    display: grid;
    background: var(--color-light);
    place-items: center;
    height: 8rem;
    padding: 3rem;
    transition: all 600ms ease;
}
.clients__container div:hover{
    background: var(--color-white);
}

/*  =========================== Testimonial ========================= */

#testimonials h1{
    text-align: center;
}
.testimonials__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
}
.testimonial{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    background-color: var(--color-light);
    padding:3rem;
    font-size: 0.88rem;
    border: 1px solid transparent;
    transition: all 600ms ease;
    border-radius: 5px;
}
.testimonial:hover{
    background-color: var(--color-white);
    border-color: var(--color-Primary);
    color: var(--color-Primary);
    box-shadow: 10px 10px  var(--color-Primary);
    z-index: 1;
    
}
.testimonial__client{
    display: flex;
    gap: 1rem;
}

/*  ============================= FAQS ============================ */

#Faqs h1{
text-align: center;
margin-bottom: 4rem;
}
.Faqs__container{
    display: flex;
    width: 44%;
    flex-direction: column;
    gap: 1rem;
}
.faq{
    border: 1px solid #ddd;
    padding: 2rem;
    background-color: var(--color-light);
    gap:1rem;
    display: flex;
    cursor: pointer;
}
.faq:hover{
    border-color: var(--color-Primary);
    color: var(--color-Primary);
}
.faq__icon i{
    font-size: 1.4rem;
    font-weight: 200;
}
.fqa__question{
    font-size: 1.2rem;
    font-weight: 500;
}
.faq__answer{
    margin-top: 1rem;
    display: none;
}
.faq.open{
    border-color: var(--color-Primary);
    color: var(--color-Primary);
    box-shadow: 10px 10px var(--color-primary-riant);
    border-radius: 5px;
    z-index: 1; 
}
.faq.open .faq__answer{
    display: block;
}


/*  ===================================  DOWNLOAD APP ================================= */


.downloadApp__container{
    display: grid;
    grid-template-columns: 40% 25% ;
    align-items: center;
    justify-content: space-between;
}
.downloadApp__content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#downloadApp.cta{
    justify-content: start;
    margin-top: 2rem;
}

/*  ============================ SUBSCRIBE ============================== */

.subscribe__container{
    background-color: var(--color-Primary);
    color: var(--color-white);
    display: flex;
    align-items: center;
    padding: 4rem;
    height: 20rem;
    border-radius: 2rem ;
}
.subscribe__text p{
    margin-top: 1.4rem;
    width: 80%;
}
.subscribe__btn{
    text-align: center;
    width: 17rem;
    font-size: 20px;
    font-weight: 500;
}

/*  ============================  FOOTER ======================= */

footer{
    background-color: var(--color-Primary);
    padding-top: 5rem;
    font-size: 0.9rem;
    color: #eee;
}
.footer__container{
    display:grid;
    grid-template-columns: repeat(4 , 1fr);
    justify-content: space-between;
    gap: 5rem;
}
.footer__container:is(div,h4){
    margin-bottom: 1.6rem;
    color: var(--color-white);
     
}
 .footer__logo h3{
    font-size: 1.7rem;

 }
 .footer__1 :is(p){
    margin: 1rem 0 2rem;
    width: 20rem;
    
 }
 .footer__subscribe {
    background-color: transparent;
    border: 1px solid var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 80%;
 }
 .footer__subscribe input{
    background-color: transparent;
    margin-left: 1rem;
     
 }

.footer__subscribe input::placeholder{
    color:var(--color-light);

}
.footer__subscribe button{
    background-color: var(--color-white);
    width: 3rem;
    height: 100%;
    font-size: 1.2rem;
    transition: all 300ms ease;
    color: var(--color-black);

}
.footer__subscribe button:hover{
    background-color: var(--color-light);
    color: var(--color-Primary);
    cursor: pointer;
}
footer ul li{
    margin-top: 1rem;
}
footer ul li:hover{
    text-decoration: underline;
}
.footer__4 p{
    margin-bottom: 1.6rem;

}
.footer__socials{
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
}
.copyright{
    text-align:center;
    margin-top: 4rem;
    padding:1.2rem;
    border-top: 1px solid var(--color-light);
    color: var(--color-light);
}


/*  ========================== Media QUERIES (Tablets) ==================================  */

@media screen and (max-width:1024px){
    
     .container{
        width: var(--container-width-tablet);
     }
     h1{
        font-size: 4.2rem;
     }
     h2{
        font-size: 2rem;
     }
     h3{
        font-size: 1.9rem;
     }
     .lead{
        width: 72%;
        margin-bottom: 3rem;

     }
     section{
        padding-bottom: var(--bottom-section-padding-mobile);
     }

     /* ======================== NAVBAR ====================== */
     
     nav{
         background-color: var(--color-Primary);

     }
     .nav__container{
        position: relative;
        width: 100vw;
         
     }
     .nav__logo{
        margin-left: 2rem;
        position: relative;
     }
     .nav_item{
        position: fixed;
        top: 6rem;
        right: 0;
        background-color: var(--color-white);
        height: max-content;
        width: 18rem;
        box-shadow: -2rem 2rem 3rem rgba(0, 0, 0,0.2);
        flex-direction: column;
        gap: 0;
        z-index: 3;
        display: none;
     }
     .nav_item li{
        width: 100%;
        height: 6rem;

     }
     .nav_item li a{
        color: var(--color-black);
        width: 100%;
        height: 100%;
        display: block;
        padding-left: 3rem;
        display:flex;
        align-items: center;
        /* justify-content: center; */
        transition: all 400ms ease;
    
     }
     .nav_item li a:hover{
        background-color: var(--color-Primary);
        color: var(--color-white);

     }
     .nav_signin_signup{
        display:none;
     }
     .nav__logo {
        left: 0;
        position: relative;
        transform: translate(0);
     }
     nav button {

        display:inline-block;
        margin-right:1.4rem;
        background-color: transparent;
        color: var(--color-white);
        cursor: pointer;
 
     }
     nav button#Close-btn {
         display: none;
         
     }

     nav button i{
         font-size: 2.4rem;
     }

     /*  ============================  Header ============================ */

     header{
         padding-bottom: var(--bottom-section-padding-mobile);
         background-color: var(--color-Primary);
     }
     .header_title {
         margin-bottom: 1.5rem;

     }
     .header__image{
       display: none;
     }
    .cta{
        margin-top: 3rem;
    }
    .header__socials{
        top: 24%;
        gap: 1rem;
        font-size: 1rem;

    }
    .header__decorator-2{
        display: none;
    }
    .header__decorator-1{
        display: none;
    }

    /* ========================= About =========================== */


    #about{
       margin-top: 7rem;

    }
    .about__article{
        margin: 0 auto;

    }


    /*  =============================== CLIENTS ============================== */

    .clients__container{
        gap: 1rem;
        
    }
    #img-3{
        height:100px;
        width: 100px;
        transform: translateY(25px);
    }
    #img-4{
        height:70px;
        /* width: 100px; */
        transform: translateY(20px);
    }
    #img-5{
        transform: translateY(10px);
    }
    #img-6{
        transform: translateY(25px);
    }
    #img-7{
        transform: translateY(25px);
    }
    #img-8{
        transform: translateY(20px);
    }

    
    /*  ================================== TESTIMONIALS ===================================== */


    .testimonials__container{
        grid-template-columns: 1fr ;
        gap: 1.5rem;

    }

    /* ============================ DOWNLOAD APP ================================= */

    #downloadApp{
      text-align: center;
    } 

    #downloadApp .cta{
        flex-direction: column;
        gap: 1rem;
        margin: auto;
    }
    #downloadApp .cta #img-11{
    height: 90px;
    }

    .download__image{
        position: absolute;
        height: 400px;
        right: 10px;
        width: 400px;
        
    }


    /*  =================== SUBSCRIBE ====================== */


    .subscribe__container{
        flex-direction: column;
        height: auto;
        gap: 5rem;
        padding: 3rem;
        font-size: 1.2rem;

    }
    .subscribe__container p{
        width: 95%;
    }

   
    /*  ==========================  FOOTER ========================= */


    .footer__container{
        grid-template-columns: 1fr 1fr ;
    }
}  

/*  =========================  MEDIA QUERIES (PHONE) =========================*/

@media screen and (max-width:600px){
     html{
        font-size: 14px;
        
     }
     h1{
        font-size: 3rem;
     }
     h2{
        font-size: 1.8rem;
     }
     h3{
        font-size: 1.4rem;
     }
     .lead{
        width: var(--container-width-phone);

     }

     /*  ===============  NAVBAR ==================== */

     .nav__logo{
        margin-left: 1rem;
     }
     
     .nav_item li a{
        justify-content: center;
       padding: 0;
       
     }
     nav button{
        margin-right: 0.7rem;

     }


     /*  ============================== HEADER ========================== */


     .header_title{
        padding-top: 11rem;

     }
     .cta{
        flex-direction: column;
        align-items: center;
        gap: 1rem;

     }
     .cta #img-1{
        height: 62px;

     }
     #cta-1{
        height: 80px;
        width: 53%;
     }

     .header__socials{
        display: none;
     }
     

     /*  ===========================  ABOUT ============================ */


    .about__article{
        grid-template-columns: 1fr;
        margin-top: 5rem;
        text-align: center;
        gap: 0;

    }
    .about__article:nth-child(2) .about__image{
      grid-row: 1; 
    }


    /* =============================  CLIENTS ============================= */

    .clients__container{
        
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }

    /*  ================= DOWNLOAD =======================*/
    .downloadApp__container{
        display: flex;
        width: var(--container-width-phone);
    }
    .downloadApp__content h1{
        text-align: center;
    }
    #img-11{
        width:205px;
    }
    #img-44{
        height: 95px;

    }
    .download__image{
         display: none;
    }
    
     /*  =============================  TESTIMONIALS ================================== */

     .testimonial{
        padding: 1.4rem;

     }

     /*  ======================= FOOTER CONTAINER ======================= */

     .footer__container{
         grid-template-columns: 1fr;
         text-align: center;
         gap: 2rem;

     }
     .footer__1{
         width: var(--container-width-phone);
     }
     .footer__1 p{
        width: var(--container-width-phone);
        margin:0 auto 3rem;

     }
     .footer__subscribe{
        display: none;

     }
     .footer__socials{
        justify-content: center;

     }
}



